@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
@model RectorCore.Models.Node
<div class="container-fluid ">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewData["location"].ToString() == "NY" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="NY">NY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewData["location"].ToString() == "TX" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="TX">TX</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "FL" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="FL">FL</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "CA" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="CA">CA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "IL" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="IL">IL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "OH" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="OH">OH</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "AL" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="AL">AL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "WA" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="WA">WA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "AZ" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="AZ">AZ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "AUS" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="AUS">AUS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "CAN" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="CAN">CAN</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-10">
            <div class="row ">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="form-group bmd-form-group">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Status</label>
                                                    <select class="form-control" data-style="btn btn-link" id="exampleFormControlSelect1">
                                                        <option>Active</option>
                                                        <option>Broken</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Phone Number</label>
                                                    <select class="form-control" data-style="btn btn-link" id="exampleFormControlSelect1">
                                                        <option>9177676186</option>
                                                        <option>3232322211</option>
                                                    </select>
                                                </div>
                                                <div class="form-group bmd-form-group">
                                                    <label class="bmd-label-floating">Network Login</label>
                                                    <input class="form-control" type="text" value="wdjfujeie">
                                                </div>
                                                <div class="form-group bmd-form-group">
                                                    <label class="bmd-label-floating">Password</label>
                                                    <input class="form-control" type="text" value="was123">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>

                    </div>

                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">Team-Viewer pwd</label>
                                <input class="form-control" type="text" value="wdjfujeie">
                            </div>
                            <div class="form-group bmd-form-group">
                                <label class="bmd-label-floating">AnyDesk pwd</label>
                                <input class="form-control" type="text" value="was123">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 right">
                            <button class="btn btn-primary btn-sm">
                                <i class="material-icons text-white">edit</i>
                            </button>
                            <button class="btn btn-primary  btn-sm">
                                <i class="material-icons text-white">person_add</i>
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary  btn-sm">
                                <i class="material-icons text-white">data_usage</i>
                            </button>
                            <button class="btn btn-primary btn-sm">
                                <i class="material-icons text-white">calendar_today</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
