
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
@model RectorCore.ViewModels.NodeInfoEditViewModel
<div class="container-fluid ">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewData["location"].ToString() == "NY" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="NY">NY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewData["location"].ToString() == "TX" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="TX">TX</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "FL" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="FL">FL</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "CA" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="CA">CA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "IL" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="IL">IL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "OH" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="OH">OH</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "AL" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="AL">AL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "WA" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="WA">WA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "AZ" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="AZ">AZ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "AUS" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="AUS">AUS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "CAN" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="CAN">CAN</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-10">
            <div class="row ">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <form asp-action="Save" asp-controller="Node" asp-route-node="@Model.Name">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="form-group bmd-form-group">
                                                
                                                <div class="form-group bmd-form-group">
                                                    <label>Status</label>
                                                    <select asp-for="Status" asp-items="@Model.StatusListItems" class="form-control"></select>
                                                </div>
                                                <div class="form-group bmd-form-group">
                                                    <label>Phone Number</label>
                                                    <select asp-for="PhoneNumberID" asp-items="@Model.PhoneNumbers" class="form-control"></select>
                                                </div>
                                                <div class="form-group bmd-form-group">
                                                    <label asp-for="NetworkLogin" class="bmd-label-floating">Network Login</label>
                                                    <input asp-for="NetworkLogin" class="form-control" type="text" value="@Model.NetworkLogin">
                                                </div>
                                                <div class="form-group bmd-form-group">
                                                    <label asp-for="NetworkPassword" class="bmd-label-floating">Password</label>
                                                    <input asp-for="NetworkPassword" class="form-control" type="text" value="@Model.NetworkPassword">
                                                </div>
                                                <div class="form-group bmd-form-group">
                                                    <label asp-for="TVPassword" class="bmd-label-floating">Team-Viewer pwd</label>
                                                    <input asp-for="TVPassword" class="form-control" type="text" value="@Model.TVPassword">
                                                </div>
                                                <div class="form-group bmd-form-group">
                                                    <label asp-for="AnydeskPassword" class="bmd-label-floating">AnyDesk pwd</label>
                                                    <input asp-for="AnydeskPassword" class="form-control" type="text" value="@Model.AnydeskPassword">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary pull-right">Update</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
