@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model RectorCore.ViewModels.NodesViewModel
<div class="container-fluid ">
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewData["location"].ToString() == "NY" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="NY">NY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewData["location"].ToString() == "TX" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="TX">TX</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "FL" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="FL">FL</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "CA" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="CA">CA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "IL" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="IL">IL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "OH" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="OH">OH</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "AL" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="AL">AL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "WA" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="WA">WA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "AZ" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="AZ">AZ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "AUS" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="AUS">AUS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.ViewBag.Location.ToString() == "CAN" ? "active" : "")" asp-area="admin" asp-controller="nodes" asp-action="index" asp-route-location="CAN">CAN</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Mobile</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>
                                        Line
                                    </th>
                                    <th>
                                        Provider
                                    </th>
                                    <th>
                                        Customer
                                    </th>
                                    <th>
                                        Plan
                                    </th>
                                    <th>
                                        Usage
                                    </th>
                                    <th>
                                        Uptime
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var x in Model.NodeCustomerViewMobile)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-area="admin" asp-controller="node" asp-action="index" asp-route-node="@x.Name" asp-route-location="@ViewContext.ViewData["location"].ToString()">@x.Name</a>
                                            </td>
                                            <td>
                                                @x.Provider
                                            </td>
                                            <td>
                                                Placeholder
                                            </td>
                                            <td>
                                                Placeholder
                                            </td>
                                            <td>
                                                Placeholder
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">DSL</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>
                                        Line
                                    </th>
                                    <th>
                                        Provider
                                    </th>
                                    <th>
                                        Customer
                                    </th>
                                    <th>
                                        Plan
                                    </th>
                                    <th>
                                        Usage
                                    </th>
                                    <th>
                                        Uptime
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var x in Model.NodeCustomerViewDSL)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-area="admin" asp-controller="node" asp-action="index" asp-route-node="@x.Name" asp-route-location="@ViewContext.ViewData["location"].ToString()">@x.Name</a>
                                            </td>
                                            <td>
                                                @x.Provider
                                            </td>
                                            <td>
                                                Placeholder
                                            </td>
                                            <td>
                                                Placeholder
                                            </td>
                                            <td>
                                                Placeholder
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary btn-block btn-sm">
                        <i class="material-icons text-white">add_to_queue</i> Add Line
                    </button>
                    <button class="btn btn-primary btn-block btn-sm">
                        <i class="material-icons text-white">person_add</i> Add Customer
                    </button>
                    <button class="btn btn-primary btn-block btn-sm">
                        <i class="material-icons text-white">data_usage</i> Data
                    </button>
                    <button class="btn btn-primary btn-block btn-sm">
                        <i class="material-icons text-white">calendar_today</i> Tasks
                    </button>
                </div>
            </div>
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row text-sm-left">
                        <div class="col-md-5">
                            <span>
                                Internal:
                            </span>
                            <span>
                                External:
                            </span>
                        </div>
                        <div class="col-md-7">
                            <span>
                                192.1.168.1
                            </span>
                            <span>
                                193.177.13.24
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7 text-right small">
                            <span>
                                Optimum Internet
                            </span>
                        </div>
                        <div class="col-5 text-center">
                            <span>
                                <i class="material-icons text-danger small text-left">thumb_down</i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>